$color-orange: #f66a0a;

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: currentColor;
    padding: 5px 3px 2px 5px;
    vertical-align: text-bottom;
}

.orange {
    color: $color-orange
}

header {
    margin: 0 0 5px 0;
    border-bottom: none;
}
