<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/mystyle.css' | relative_url }}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <!-- Github Button -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script>
      ((window.gitter = {}).chat = {}).options = {
        room: 'pisign/community'
      };
      </script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>

{% seo %}
  </head>

  <body>
    <div id="container">
      <div class="inner">
        <header>
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
<!--           Deleting until we get a tagline <h2>{{ site.description | default: site.github.project_tagline }}</h2> -->
          <div class="navbar">
            <a href="{{ site.url }}" class="btn spacing">Home</a>
            <a href="{{ site.url }}/milestones" class="spacing"> Milestones </a>
            <a href="{{ site.url }}/ideas" class="spacing">Ideas</a>
          </div>
          <br>
          <a class="github-button" href="https://github.com/pisign" data-size="large" aria-label="Follow @pisign on GitHub">Follow @pisign</a>

        </header>

        <section id="main_content">
          {{ content }}
        </section>
      </div>
    </div>
  </body>
</html>

